.AppWrapper {
  
  margin:0 auto;
    border: 3px orange solid;
  border-radius: 5px;
  max-width: 40%;
  margin-top:20px;
 }

 ul {
  list-style: none;
  font-size: smaller;
}

.Tempnow {
  margin-left: 20px;
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.Header {
  padding: 30px 20px 0;
  text-transform: capitalize;
}

h1 {
  font-size: 30px;
  padding: 10px;
}

.Icon {
  font-size: 40px;
  padding: 0 50px;
}

.Description {
  color: black;
}

.Link{
  text-align: center;
}

